<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulário de Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

	<body>
	<h1>Form</h1>
   <form action="#" th:action="@{/loginAction}" th:object="${dadosDoFormulario}" method="post">
    <div>
        <label for="nome">Login:</label>
        <input type="text" th:field="*{login}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" />
    </div>
    
    
    <div class="button">
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>


